<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->

<!--Bottom Nav Section -->
<footer>
<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="display-6 navbar-text">&copy; Copyright 2020. Edgar Mejia Razo/Centennial College All rights reserved.</h6>
</nav>
</footer>

<!--Edgar Adrian Mejia Razo Centennial College 301066027 WINTER 2020-->
